<h2 class="text-center login"><%= t ".login" %></h2>
<div class="form-login">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="row">
      <div class="field col-md-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: t(".email"), class: "form-control" %>
      </div>
    </div>
    <div class="row">
    <div class="field col-md-3">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: t(".password"), class: "form-control" %>
    </div>
    </div>

    <div class="row">
      <div class="actions col-md-3 text-right">
        <%= f.submit t(".login"), class: "btn btn-success" %>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-md-3"><span><%= t ".account" %> </span><%= link_to t(".signup"), new_user_registration_path %></div>
    </div>
  <% end %>
  <div class="row">
    <div class="col-md-3">
      <%= link_to t(".google"), user_google_oauth2_omniauth_authorize_path, class: "loginBtn loginBtn--google" %>
    </div>
  </div>
</div>
