<div id="footer" class="color-div">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title"><%= t ".insta" %></h4>
            <div id="beta-instagram-feed"><div></div></div>
          </div>
        </div>
        <div class="col-sm-2">
          <div class="widget">
            <h4 class="widget-title"><%= t ".infor" %></h4>
            <div>
              <ul>
                <li><%= link_to do %><i class="fa fa-chevron-right"></i><%= t ".desgin" %><% end %></li>
                <li><%= link_to do %><i class="fa fa-chevron-right"></i><%= t ".develop" %><% end %></li>
                <li><%= link_to do %><i class="fa fa-chevron-right"></i><%= t ".market" %><% end %></li>
                <li><%= link_to do %><i class="fa fa-chevron-right"></i><%= t ".tip" %><% end %></li>
                <li><%= link_to do %><i class="fa fa-chevron-right"></i><%= t ".resource" %><% end %></li>
                <li><%= link_to do %><i class="fa fa-chevron-right"></i><%= t ".illus" %><% end %></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
         <div class="col-sm-10">
          <div class="widget">
            <h4 class="widget-title"><%= t ".contact" %></h4>
            <div>
              <div class="contact-info">
                <i class="fa fa-map-marker"></i>
                <p><%= t ".south" %></p>
                <p><%= t ".des" %></p>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="widget">
            <h4 class="widget-title"><%= t ".subscribe" %></h4>
            <form action="#" method="post">
              <input type="email" name="your_email">
              <button class="pull-right" type="submit"><%= t ".sub" %> <i class="fa fa-chevron-right"></i></button>
            </form>
          </div>
        </div>
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- #footer -->
  <div class="copyright">
    <div class="container">
      <p class="pull-left"><%= t ".privacy" %></p>
      <p class="pull-right pay-options">
        <%= link_to image_tag("master.jpg") %>
        <%= link_to image_tag("pay.jpg") %>
        <%= link_to image_tag("visa.jpg") %>
        <%= link_to image_tag("paypal.jpg") %>
      </p>
      <div class="clearfix"></div>
    </div> <!-- .container -->
  </div> <!-- .copyright -->
