<div id="header">
    <div class="header-top">
      <div class="container">
        <div class="pull-left auto-width-left">
          <ul class="top-menu menu-beta l-inline">
            <li><a href=""><i class="fa fa-home"></i> <%= t ".address" %></a></li>
            <li><a href=""><i class="fa fa-phone"></i> <%= t ".phone" %></a></li>
          </ul>
        </div>
        <div class="pull-right auto-width-right">
          <ul class="top-details menu-beta l-inline">
          <% if user_signed_in? %>
            <li><%= link_to edit_user_registration_path do %><i class="fa fa-user"></i><%= current_user.email %><% end %></li>
             <li><%= link_to destroy_user_session_path, method: :delete do %><i class="fa fa-user"></i><%= t ".logout" %><% end %></li>
          <% else %>
            <li><a href="#"><i class="fa fa-user"></i><%= t ".account" %></a></li>
            <li><%= link_to t(".signup"), new_user_registration_path %></li>
            <li><%= link_to t(".signin"), new_user_session_path %></li>
            <% end %>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div> <!-- .container -->
    </div> <!-- .header-top -->
    <div class="header-body">
      <div class="container beta-relative">
        <div class="pull-left">
          <a href="index.html" id="logo">
          <%= image_tag "logo-cake.png", width: "200px" %>
          </a>
        </div>
        <div class="pull-right beta-components space-left ov">
          <div class="space10">&nbsp;</div>
          <div class="beta-comp">
            <%= search_form_for @q, url: search_path , id: "searchform" do |f| %>
              <%= f.text_field :name_or_describe_or_category_name_cont %>
              <%= f.submit "Search" ,class: "btn btn-success" %>
            <% end %>
          </div>

          <div class="beta-comp">
            <div class="cart">
              <%= link_to carts_path do %>
              <i class="fa fa-shopping-cart"></i> <%= t ".cart" %> <span class="cart-size text-danger">(<%= current_cart %>)</span>
              <% end %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="header-bottom" style="background-color: #0277b8;">
      <div class="container">
        <%= link_to "#", class: "visible-xs beta-menu-toggle pull-right" do %>
          <span class='beta-menu-toggle-text'><%= t ".menu" %></span> <i class="fa fa-bars"></i>
        <% end %>
        <div class="visible-xs clearfix"></div>
        <nav class="main-menu">
          <ul class="l-inline ov">
            <li><%= link_to t(".home"), root_path %></li>
            <li><%= link_to t(".category") %>
              <ul class="sub-menu">
              <% category_names.each do |cat| %>
                <li><%= link_to cat.name, category_path(cat) %></li>
              <% end %>
              </ul>
            </li>
            <li><%= link_to t(".about"), "#" %></li>
            <li><%= link_to t(".contact"), "#" %></li>
            <% if user_signed_in? %>
              <li><%= link_to t(".history"), orders_path %></li>
              <li><%= link_to t(".suggest"), new_suggest_path %></li>
              <% if current_user.is_admin? %>
                <li><%= link_to t(".admin"), rails_admin_path %></li>
              <% end %>
            <% end %>
          </ul>
          <div class="clearfix"></div>
        </nav>
      </div> <!-- .container -->
    </div> <!-- .header-bottom -->
  </div>
   <!-- #header -->
